body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.header {
    background-color: rgb(39, 39, 39);
    color: white;
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    margin: 0;
    font-size: 46px;
}

.container {
    max-width: 75%;
    margin: 0 auto;
}
.main-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.main-menu li {
    display: inline;
    margin-right: 10px;
}

.sidebar {
    flex: 1;
    background-color: rgb(39, 39, 39);
    padding: 10px;
    border-radius: 8px;
    max-width: 200px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.sidebar .menu-list a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
}
.sidebar {
    float: left;
    width: 240px;
    padding-top: 1rem;
    box-sizing: border-box;
    margin-left: 20px;
}

.text-center {
    text-align: center;
}

.container-product{
    margin: 0 auto;
    vertical-align: top;
    border-radius: 20px;
    padding: 1rem;
    margin-left: 240px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 140px;
}

.photo {
    max-width: 100%;
    border-radius: 4px;
}

.product {
    width: calc(50% - 20px); 
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
} 

.main {
    max-width: 95%;
    margin: 0 auto;
    font-size: 1.5rem;
}

.buy-btn {
    background-color: #515151;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

.footer {
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 30px;
}

