@media print {
    nav.main-menu {
        display: none;
    }

    /* Скрываем боковое меню при печати */
    aside.sidebar {
        display: none;
    }

    /* Скрываем кнопки заказа при печати */
    button.buy-btn {
        display: none;
    }

    /* Скрываем футер при печати */
    footer.footer {
        display: none;
    }
}